<h1>User info</h1>
 <div class="row">
 <div class="col-xs-3" >
  <div class="profile-container">
    <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
   <table class="table">
    <tr>
     <th><h4>name</h4></th>
     <th><%= user.name %></th>
    </tr>
    <tr>
     <th><h4>introduction</h4></th>
     <th><%= user.introduction %></th>
    </tr>
   </table>
     <%= link_to  "", edit_user_path(user), class:"col-xs-12 btn btn-default  glyphicon glyphicon-wrench" %>
  </div>
 </div>
</div>
